<div class="blog-index">
  <h1>Blog</h1>

  {{#each (sort-by "meta.publishedAt:desc" model) as |post|}}
    <section>
      <time datetime={{post.meta.publishedAt}}>
        {{moment-format post.meta.publishedAt "MMMM D, YYYY"}}
      </time>
      <h2>
        {{#link-to "blog.detail" post.slugAndId}}
          {{post.title}}
        {{/link-to}}
      </h2>
    </section>
  {{/each}}
</div>
