# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist/
/tmp/

# dependencies
/node_modules/

# misc
/.vscode
/.sass-cache
/connect.lock
/coverage/
/libpeerconnection.log
/npm-debug.log*
/yarn-error.log

# IDE
/.idea/
/*.iml
