---
language: node_js
node_js:
  - "8"

sudo: false
dist: trusty

addons:
  chrome: stable

cache:
  yarn: true

env:
  global:
    # See https://git.io/vdao3 for details.
    - JOBS=1

install:
  - yarn install --no-lockfile --non-interactive

script:
  - yarn lint:js
  # Usually, it's ok to finish the test scenario without reverting
  #  to the addon's original dependency state, skipping "cleanup".
  - node_modules/.bin/ember try:one $EMBER_TRY_SCENARIO --skip-cleanup

notifications:
  email: false

stages:
  - locked dependencies

jobs:
  fail_fast: true

  include:
    - stage: locked dependencies
      env: NAME=browser tests
      install: yarn install
      script: yarn test:browser
    - env: NAME=node tests
      install: yarn install
      script: yarn test:node

    - stage: floating dependencies
      env: NAME=browser tests
      script: yarn test:browser
    - env: NAME=node tests
      script: yarn test:node

    - stage: versioned tests
      env: EMBER_TRY_SCENARIO=ember-lts-2.4
      script: yarn test:browser
    - env: EMBER_TRY_SCENARIO=ember-lts-2.8
      script: yarn test:browser
    - env: EMBER_TRY_SCENARIO=ember-lts-2.12
      script: yarn test:browser
    - env: EMBER_TRY_SCENARIO=ember-lts-2.16
      script: yarn test:browser
    - env: EMBER_TRY_SCENARIO=ember-release
      script: yarn test:browser
    - env: EMBER_TRY_SCENARIO=ember-beta
      script: yarn test:browser
    - env: EMBER_TRY_SCENARIO=ember-canary
      script: yarn test:browser
    - env: EMBER_TRY_SCENARIO=ember-default
      script: yarn test:browser

  allow_failures:
    - env: EMBER_TRY_SCENARIO=ember-beta
    - env: EMBER_TRY_SCENARIO=ember-canary

deploy:
  provider: npm
  email: sam.selikoff@gmail.com
  api_key:
    secure: O6cP0nTiCbA+MuD6hRKdyyd6DWTFR/dc9klB10zXTnrwajjzLmenvvshPUv+F6lHCpb2SfrWW6cpFjZ61BPwKaaalF9u8encNkGlDYGtO77sWJu6LuJFeWPZnAC9rdAw4hPjz+gqTL+leeDMHzjB32VRqy2cpwFzet3e+W2eUuk=
  on:
    tags: true
    repo: samselikoff/ember-cli-mirage
