<h2 id="title">Welcome to Ember</h2>

<p>
  Environment:
  <span data-test-id="environment">
    {{environment}}
  </span>
</p>

<p>
  Mirage modules in project:
  <span data-test-id="mirage-module-count">
    {{mirageModules.length}}
  </span>
</p>

<p>
  Other modules in project:
  <span data-test-id="other-module-count">
    {{otherIncludedModules.length}}
  </span>
</p>
