:root {
  --brand-primary: #0e97ad;
}

.home {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 600px;
  margin: 4rem auto;
}
.home__section {
  margin-bottom: 2.5rem;
}
.home__lead {
  margin-top: 0.5rem;
  font-size: 18px;
  line-height: 1.5;
}
.home__cta {
  padding: 3rem 0;
}
.home__cta-link {
  color: #22292f;
}

.blog {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
@media (min-width: 768px) {
  .blog {
    display: flex;
  }
}

.blog__placeholder {
  width: calc(((100% - 1400px) / 2) + 288px);
  padding-left: calc((100% - 1400px) / 2);
}
.blog__content {
  max-width: 869px;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 768px) {
  .blog__content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 992px) {
  .blog__content {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.blog-index h1 {
  margin-bottom: 1.5rem;
  color: rgb(61, 72, 82);
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 1.25;
  text-decoration: none;
}

.blog-index section {
  margin: 30px 0;
}

.blog-index h2 {
  line-height: 1.25;
}
.blog-index h2 a {
  color: rgb(61, 72, 82);
  text-decoration: none;
  /* font-weight: 800;
  font-size: 28px; */
}
.blog-index h2 a:hover {
  text-decoration: underline;
}
.blog-index p {
  color: #8795A1;
}

.blog-detail time,
.blog-index time {
  color: #8795A1;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}
.blog-detail__back-link {
  text-decoration: none;
  color: #8795A1;
  display: block;
  margin-bottom: 30px;
}

.blog-detail__back-link:hover {
  color: rgb(61, 72, 82);
}

.blog-detail__hr {
  border-width: 1px;
  margin: 3rem 0;
}
.blog-detail__comments {
  margin-bottom: 6rem;
}

.blog-detail__comment {
  display: flex;
  padding-top: 2rem;
}

.blog-detail__comment-profile-link {
  flex-shrink: 0;
}
.blog-detail__comment-avatar {
  border-radius: 4px;
  width: 48px;
  height: 48px;
  margin-right: 2rem;
}

.blog-detail__comment-body {
  /* padding-lef */
}
.blog-detail__comment-info {
  color: #8795A1;
  font-size: 14px;
}
.blog-detail__comment-permalink {
  color: #8795A1;
  text-decoration: none;
}
.blog-detail__comment-permalink:hover {
  color: #3d4852;
}
.blog-detail__username-link {
  color: #3d4852;
  font-weight: 600;
  text-decoration: none;
}
.blog-detail__comments-github-byline {
  margin-top: 2rem;
  font-style: italic;
  color: #8795A1;
}
.blog-detail__comments-github-link {
  color: #8795A1;
}
