{{docs-hero}}

<div class="home">
  <div class="home__section">
    <h2>Productive</h2>
    <p class="home__lead">
      Spend less time wiring up HTTP stubs, and get back to developing your app.
    </p>
  </div>

  <div class="home__section">
    <h2>Test-worthy</h2>
    <p class="home__lead">
      Use factories to define your server's state per test. Acceptance testing just got a whole lot easier.
    </p>
  </div>

  <div class="home__section">
    <h2>Shareable</h2>
    <p class="home__lead">
      Share a functional prototype of your app that runs entirely in the client – before writing a single line of your API.
    </p>
  </div>

  <div class="home__cta">
    {{#link-to 'docs' class="home__cta-link"}}
      Read the docs
    {{/link-to}}
  </div>
</div>
