{{#unless hasError}}
  {{#each contact in model}}
    <p>{{link-to contact.name 'contact' contact}}</p>
  {{/each}}
{{else}}
  <p class='error'>There was an error</p>
{{/unless}}

<hr>

<div>
  <div>{{input value=newName placeholder='Name'}}</div>

  <div>
    <button {{action 'createContact'}}>Create a new contact</button>
  </div>
</div>
