<div>
  {{input value=model.name}}
</div>

{{link-to 'Cancel' 'contact' model}}
<button {{action 'saveContact' model}}>Save</button>
{{!--
{{!--
<div>
  {{#link-to 'contact.edit' model}}
    <button>Edit this contact</button>
  {{/link-to}}
</div>

<div>
  <button {{action 'deleteContact' model}}>Delete this contact</button>
</div>
 --}}
